*, *::before, *::after{
    box-sizing: border-box;
}

*:focus:not(:focus-visible){
    outline: none;
}

html,
body {    
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 62.5%; 
    font-family: 'Roboto';
    font-weight: normal;
    color: #FFFFFF;
}
body {
    overflow: auto;
}

.container{
    width: 113.5rem;
    margin: 0 auto;
}

@media (max-width: 108em) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 105em) {
    html {
        font-size: 8.75px;
    }
}

@media (max-width: 91.5em) {
    html {
        font-size: 7.9px;
    }
}

@media (max-width: 91em) {
    html {
        font-size: 8.4px;
    }
}

@media (max-width: 90em) {
    html {
        font-size: 7.9px;
    }
}

@media (max-width: 80em) {
    html {
        font-size: 7.2px
    }
}

@media (max-width: 72em) {
    html {
        font-size: 6.5px;
    }
}

@media (max-width: 64em) {
    html {
        font-size: 5.5px;
    }
}

@media (max-width: 44em) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 38em) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 34em) {
    html {
        font-size: 7px;
    }
}

@media (max-width: 30em) {
    html {
        font-size: 6px;
    }
}

@media (max-width: 26em) {
    html {
        font-size: 4.5px;
    }
}

@media (max-width: 21em) {
    html {
        font-size: 4.4px;
    }
}

.header{
    position: absolute;
    padding-bottom: 6.4rem;
    left: 50%;
    top: 6.4rem;
    transform: translate(-50%, 0);
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu{
    height: 7rem;
    display: flex;
    align-items: center;
    padding-left: 3rem; 
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem; 
    border-radius: 1.5rem;    
}

.header__logo{
    height: 6rem;
    margin-right: 3.9rem;    
}

.header_logo-img{
    height: 7rem;
}

.header__nav a:not(:last-child){
    margin-right: 2.4rem;
}

.header__nav a{
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 114%;
}

.header__nav-mobile,
.header__menu-close,
.menu-burger{
    display: none;
}




/* start table style*/

h1{
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  table{
    width:100%;
    table-layout: fixed;
    background-color: rgba(64, 111, 150, 0.5);
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 2rem 1.5rem;
    text-align: left;
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 2rem;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  td:hover{
      color: rgb(255, 232, 100);
  }

tr:hover {
    background-color: rgb(127, 186, 235, 0.5);
}

  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    font-family: 'Roboto', sans-serif;
  }
  section{
    margin: 50px;
  }   

  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }

/* end table style*/


/*  таблицы в модалках*/
.table-header{
    background-color: rgba(255,255,255,0.3);
   }
  .table-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
/* конец таблиц в модалках*/


.main{    
    height: 90vh;
    padding-top: 18.7rem; 
    padding-bottom: 10.4rem;
    background: url('../img/Background.png'); 
    background-repeat:no-repeat;
    background-size: cover;
    background-position-x: top;
    background-position-y: top;   
    padding-bottom: 10.4rem;
    display: flex;
    flex: 1;    
}

.main .container{
    width: 100%;
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
}


.instruction{
    margin-top: 10rem;
    color:#ffffff;
    font-size: 2rem;
    text-align: center;
    line-height: 150%;
    padding: 2rem 3rem ;
}


.choose_table{  
    width: 30rem;
    height: 7rem;
    color:#ffffff;
    font-size: 2.5rem;
    padding: 2rem 3rem ;
    background-color: rgba(64, 111, 150, 0.5);
    border-color: rgba(64, 111, 150, 0.5);
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.input_date{
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.end_date{
    margin-top: 2rem;
}
.date_text{
    font-size: 2rem;
}

.submit{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    display:block;
    width:15rem;
    text-align: center;
    font-family: "Roboto";
    font-size: 14px;
    padding: 8px 16px;
    margin: 20px auto;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;        
    }
    .submit {
    background-color: rgb(64, 111, 150);
    border: 1px solid rgb(64, 111, 150);
    }
            
    .submit:hover {
    background-color: rgb(127, 186, 235);
    }

.footer{
    background-color:#01173a;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_menu{
    display: flex;
    padding-left: 0;
}

.footer_menu li{
    list-style: none;
}

.footer_menu li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 143%;
}

.footer_menu li:not(:last-child){
    margin-right: 2.5rem;
}

.footer_img{
    height: 6rem;
}

.footer_copy, .footer_2nd_part{
    font-size: 2.4rem;
    line-height: 143%;
    color: rgb(255, 255, 255);
}

.phone, .e-mail, .link_to_description{
    text-decoration: none;    
    }
    .phone {
        color: #fff;
    }
            
    .phone:hover {
        color: rgb(64, 111, 150);
    }

    .e-mail{
        color: #fff;
    }
            
    .e-mail:hover {
        color: rgb(64, 111, 150);
    }
    .link_to_description{
        color: rgb(138, 185, 224);
    }
            
    .link_to_description:hover {
        color: rgb(64, 111, 150);
    }



 
.modal_1,.modal_2,.modal_3,
.modal_4,.modal_5,.modal_6,
.modal_7,.modal_8,.modal_9,
.modal_10,.modal_11,.modal_12,
.modal_13,.modal_14,.modal_15,
.modal_16,.modal_17,.modal_18,
.modal_19,.modal_20,.modal_21,
.modal_22,.modal_23,.modal_24,
.modal_25,.modal_26
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items:center;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.5);
    padding: 3rem 0;
    z-index: 100;
    display: none;
}


.modal__inner_1,.modal__inner_2,.modal__inner_3,
.modal__inner_4,.modal__inner_5,.modal__inner_6,
.modal__inner_7,.modal__inner_8,.modal__inner_9,
.modal__inner_10,.modal__inner_11,.modal__inner_12,
.modal__inner_13,.modal__inner_14,.modal__inner_15,
.modal__inner_16,.modal__inner_17,.modal__inner_18,
.modal__inner_19,.modal__inner_20,.modal__inner_21,
.modal__inner_22,.modal__inner_23,.modal__inner_24,
.modal__inner_25,.modal__inner_26{
    width: 140rem;
    background-color: rgba(32, 57, 77, 0.7);
    box-shadow: 18px 18px 10px rgba(0, 0, 0, 0.5);         
}

.active{
    display: flex;
}

.slide_information{
    margin: 3rem;  
    width: 95%;
    flex-direction: column;
    align-items: center;
}



@media (max-width: 48em) {
    html {
        font-size: 10px;
    }

    .container{
        width: 60%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header{
        width: 66.7%;
        background-color: rgba(44, 9, 59, 0.89); 
        top: 0;
        overflow: hidden;
        border-radius: 0.8rem;
        transform: translate(-28%, 0);
        padding-bottom: 4rem;
        padding-top: 4rem;
        z-index: 10;
        display: none;        
    }

    .header__logo{
        margin-right: 0;
        margin-bottom: 10rem;
    }

    .header_social{
        margin-bottom: 2.2rem;
        margin-top: 2rem;
    }
    

    .header .container,
    .header__nav,
    .header__menu{
        display: flex;
        flex-direction: column;
    }

    .header__nav{
        display: none;
    }

    .header__nav-mobile{
        display: flex;
        flex-direction: column;
    }

    .header__nav-mobile a{
        color:#FFFFFF;
        text-decoration: none;
        font-weight: normal;
        box-sizing: border-box;
        font-size: 1.4rem;
        line-height: 114%;
    }

    .header__nav-mobile a:not(:last-child){
        margin-bottom: 2rem;
    }

    .header__nav-mobile a:not(.active) {
        background-color: rgba(44, 9, 59, 0); 
      }
      
      .header__nav-mobile a:not(.active):hover,
      .header__nav-mobile a:not(.active):focus {
        background-color: rgba(0, 0, 0, 0.89); 
      }
      .header__nav-mobile a:not(:hover) {
        transition: 0.6s;
      }

    .header__menu-close{
        display: block;
        position: absolute;
        right:4rem;
        top: 4rem;
        width:2.3rem;
        height: 2.3rem;        
    }
    
    .menu-burger{
        margin-top: 2rem;
        display: block;
        position: absolute;
        right: 5%;
        top: 0%;
        width: 6rem;
        height: 6rem;  
    }

    .main{
        width: 100%;
        background-position-x: 33%;     
    }

    .main .container{
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    .main_description-wrap{
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .main_button-play{
        margin-left: 30%;
    }

    .main-slider_wrap{
        width: 80%;
        margin-bottom: 10rem;
    }
    
    .swiper-wrapper{
        width: 80%;
    } 

    .main_information{
        width: 100%;
        margin-top: 10rem;
        margin-left: 2%;
        background-color: rgba(70, 15, 95, 0.7);        
    }

    .main_raiting-title{
        margin-top: 3rem;
    }

    .main_description{
        width: 80%;
        padding-top: 2rem;
    }

    .main__raiting, 
    .main_header,
    .main_description-wrap,
    .for_main-button
    {
       margin-left: 5%;
    }

    .main_button{
        margin-bottom:4.4rem;
        margin-left: 5%;
    }

    .main-slider_arrow_right,
    .main-slider_arrow_left
    {
        display: none;
    }

    .modal__inner{
        height: 30%;
    }
    
    .modal__inner_1,
    .modal__inner_2,
    .modal__inner_3,
    .modal__inner_4,
    .modal__inner_5,
    .modal__inner_6{
        width: 80%;            
    }

    .slide_information{
        margin: 3rem;  
        width: 80%;
        display:inline-table;
    }

    .illustration{
        margin: 3rem;
        width: 100%;
        overflow: hidden;
    }
    
    .illustration img{
        max-width:100%;
    }

    
    .footer .container{
       flex-direction: column;
       align-items: flex-start;
    }

    .modal{
        padding: 3rem;
    }
    
    .madal__inner{
        width: 100rem;
        height: 40rem;
    }

}